@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Boska:wght@400;700&display=swap');



body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(355deg, #0e0313 16%, #32196d 100%);
  background-attachment: fixed; /* Hace que siempre quede fijo */
  background-size: cover;
  font-family: 'Boska', serif;
}



